---
- name: Deploy Recipe App
  hosts: recipe_slave
  become: true

  vars_files:
    - ../inventory/group_vars/all.yml

  tasks:
    - name: Install packages
      dnf:
        name:
          - python3
          - python3-pip
          - nginx
        state: present

    - name: Create app directory
      file:
        path: "{{ app_dir }}"
        state: directory
        owner: appuser
        group: appuser
        mode: "0755"

    - name: Copy app
      synchronize:
        src: ../../app2-recipe-app/
        dest: "{{ app_dir }}"
        delete: yes

    - name: Setup virtualenv
      command: python3 -m venv {{ app_dir }}/venv
      args:
        creates: "{{ app_dir }}/venv"

    - name: Install dependencies
      command: "{{ app_dir }}/venv/bin/pip install -r {{ app_dir }}/app/requirements.txt"

    - name: Configure systemd
      template:
        src: ../templates/app.service.j2
        dest: /etc/systemd/system/recipe-app.service

    - name: Configure nginx
      template:
        src: ../templates/nginx.conf.j2
        dest: /etc/nginx/conf.d/recipe-app.conf

    - name: Restart services
      systemd:
        name: "{{ item }}"
        state: restarted
        enabled: yes
      loop:
        - recipe-app
        - nginx
